<%= form_tag [wiki, collaborator] do |f| %>
  <div class="form-group">
    <%= label_tag :email %>
    <%= text_field_tag :email, "", {class: 'form-control'} %>
  </div>
  <%= submit_tag "Submit", class: "btn btn-success" %>
<% end %>
